@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root{
  --font-family: 'Manrope', sans-serif;

  --gradient-text:linear-gradient(89.97deg, #ae67fa 1.84%,  #f4b494);
  --gradient-text:linear-gradient(103.22deg, #ae67fa -13.86%, #f4b494);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}